# Data Science mit gebrauchten Autos von Willhaben

Hier befassen wir uns mit der Analyse des Datensatzes

In [31]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [24]:
df = pd.read_csv("./data/final.csv", sep=";")

C:\Users\Admin\AppData\Local\Temp\ipykernel_4572\4230953392.py:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./data/final.csv", sep=";")


## 1. Feature Engineering

Das erste Ziel ist den Datensatz kennenzulernen. Dabei untersuchen wir die vorhandenen Features mittels deskriptiver Methoden.

In [25]:
df.columns

Index(['id', 'description', 'product_id', 'heading', 'body_dyn', 'price',
       'year_model', 'mileage', 'brand', 'model', 'car_type', 'no_of_owners',
       'noofseats', 'engine_effect', 'engine_fuel_resolved',
       'transmission_resolved', 'condition_resolved', 'warranty_resolved',
       'published_string', 'country', 'coordinates', 'postcode', 'state',
       'district', 'address', 'location', 'orgname', 'fnmmocount',
       'upselling_ad_searchresult', 'isprivate', 'equipment_resolved'],
      dtype='object')

Wir entfernen ein paar wenig versprechende Spalten:

In [26]:
df = df.drop(columns=["product_id", "published_string", "condition_resolved", "country"])

In [20]:
df.head(3)

,id,description,heading,body_dyn,price,year_model,mileage,brand,model,car_type,no_of_owners,noofseats,engine_effect,engine_fuel_resolved,transmission_resolved,condition_resolved,warranty_resolved,country,coordinates,postcode,state,district,address,location,orgname,fnmmocount,upselling_ad_searchresult,isprivate,equipment_resolved
0,612174978,Skoda Octavia Combi Style TSI ACT,Skoda Octavia Combi Style TSI ACT,-,34990,2022,4500,Skoda,Octavia,Kombi / Family Van,NaN,5.0,110,Benzin,Schaltgetriebe,Gebrauchtwagen,Nein,Österreich,"47.05489,15.1365",8570,Steiermark,Voitsberg,Packerstraße 4,Voitsberg,F. Fripertinger GmbH,10,NaN,0,Bordcomputer|elektr. Fensterheber|Sitzheizung|...
1,612174235,VW Golf R-Line TDI 4MOTION DSG,VW Golf R-Line TDI 4MOTION DSG,Extras: Coming-Home-Funktion LED-Rückleuchten ...,43990,2022,3000,VW,Golf,Limousine,NaN,5.0,110,Diesel,Automatik,Gebrauchtwagen,Nein,Österreich,"47.44651,15.30058",8605,Steiermark,Bruck-Mürzzuschlag,Wiener Strasse 77,Kapfenberg,Porsche Kapfenberg,19,NaN,0,Leichtmetall-/Alufelgen|Anhängerkupplung|elekt...
2,612174149,Seat Tarraco Xcellence 2.0 TDI DSG 4Drive,Seat Tarraco Xcellence 2.0 TDI DSG 4Drive,Extras: Fahrwerksregelung elektronisch Automat...,38490,2019,40880,Seat,Tarraco,SUV / Geländewagen,NaN,7.0,110,Diesel,Automatik,Gebrauchtwagen,Nein,Österreich,"48.56585,13.98543",4150,Oberösterreich,Rohrbach,Gewerbeallee 24,Rohrbach in Oberösterreich,Kneidinger Center GmbH,15,NaN,0,Leichtmetall-/Alufelgen|Bordcomputer|elektr. F...

Aus den ersten drei Zeilen sieht man, wo sich `pandas` schwer tut mit den Datentypen. Deshalb setzen wir die types selbst:

In [27]:
df = df.astype({
  "id": str, 
  "engine_fuel_resolved": "category", 
  "transmission_resolved": "category",
  "postcode": str
  })

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220108 entries, 0 to 220107
Data columns (total 27 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         220108 non-null  object
 1   description                220108 non-null  object
 2   heading                    220108 non-null  object
 3   body_dyn                   220064 non-null  object
 4   price                      220108 non-null  int64
 5   year_model                 220108 non-null  int64
 6   mileage                    220108 non-null  int64
 7   brand                      220108 non-null  object
 8   model                      220108 non-null  object
 9   car_type                   220108 non-null  object
 10  no_of_owners               84183 non-null   float64
 11  noofseats                  217319 non-null  float64
 12  engine_effect              220108 non-null  int64
 13  engine_fuel_resolved       219656 non-null  category
 14  transmission_resolved      219898 non-null  category
 15  warranty_resolved          220108 non-null  object
 16  coordinates                219776 non-null  object
 17  postcode                   220108 non-null  object
 18  state                      220108 non-null  object
 19  district                   220108 non-null  object
 20  address                    151578 non-null  object
 21  location                   220108 non-null  object
 22  orgname                    122950 non-null  object
 23  fnmmocount                 220108 non-null  int64
 24  upselling_ad_searchresult  28412 non-null   object
 25  isprivate                  220108 non-null  int64
 26  equipment_resolved         198515 non-null  object
dtypes: category(2), float64(2), int64(6), object(17)
memory usage: 42.4+ MB

Da wir `fnmmocount` nicht interpretieren können und `upselling_ad_searchresult` und `no_of_owners` eher wenig Daten haben, entfernen wir die Spalten ebenfalls.